/MainFile.log
/Package.aux
/MainFile.aux
/MainFile.bbl
/MainFile.blg
/MainFile.lof
/MainFile.lot
/MainFile.pdf
/MainFile.synctex.gz
/MainFile.toc
/tmp/
/MainFile.ptc
.DS_Store
MainFile.bcf
MainFile.run.xml
