/MainFile.log
/Package.aux
/MainFile.aux
/MainFile.bbl
/MainFile.blg
/MainFile.lof
/MainFile.lot
/MainFile.synctex.gz
/MainFile.toc
/tmp/
/MainFile.ptc
.DS_Store
MainFile.bcf
MainFile.run.xml
/_minted-MainFile/
MainFile.lol
graphics/SEMA_State_Diagram-eps-converted-to.pdf
graphics/BOLT_State_Diagram-eps-converted-to.pdf
graphics/LockTrace_Design-eps-converted-to.pdf
cpp/main.out
cpp/main.out.dSYM/Contents/Info.plist
cpp/main.out.dSYM/Contents/Resources/DWARF/main.out
